<%= form_with(model: ph, local: true) do |form| %>
  <% if ph.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ph.errors.count, "error") %> prohibited this ph from being saved:</h2>

      <ul>
        <% ph.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :measure %>
    <%= form.text_field :measure %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
